<div class="row">
  <div class="col-xs-12">
  <% if flash[:notice] %>
    <p class="text-active"><%= flash[:notice] %></p>
  <% end %>
    <h3><strong><%= current_user.last_name + current_user.first_name %>さんのマイページ</strong></h3>
    <%= attachment_image_tag(@user, :profile_image, :fill, 500, 280, fallback: "会員イメージデフォルト.jpg", style: "border-radius: 20px;", size: "500x280") %>
        <table class="table table-bordered table-condensed">
            <p>
                <strong class="information-link">登録情報</strong>
                <%= link_to " 編集する", users_users_edit_path, class: "glyphicon glyphicon-pencil btn btn-success" %>
                <%= link_to " パスワードを変更する", "", class: "glyphicon glyphicon-pencil btn btn-success" %>
            </p>
            <tr>
                <td class="col-xs-2">氏名</td>
                <td><%= current_user.last_name %>&nbsp;<%= current_user.first_name %></td>
            </tr>

            <tr>
                <td class="col-xs-2">カナ</td>
                <td><%= current_user.last_name_kana %>&nbsp;<%= current_user.first_name_kana %></td>
            </tr>

            <tr>
                <td class="col-xs-2">郵便番号</td>
                <td><%= current_user.postal_code %></td>
            </tr>

            <tr>
                <td class="col-xs-2">住所</td>
                <td><%= current_user.address %></td>
            </tr>

            <tr>
                <td class="col-xs-2">電話番号</td>
                <td><%= current_user.phone_number %></td>
            </tr>

            <tr>
                <td class="col-xs-2">メールアドレス</td>
                <td><%= current_user.email %></td>
            </tr>
        </table>
  <div>
</div>