<div class="container">
  <h2>簡単ログイン(ワンクリック)↓↓</h2><br>
  <h3>ログインに必要な値をフォームに入れていますので、<br>
  ログインボタンをクリックしていただけるとログインできます。<br>
  (email: t@t, password: testtest)</h3>

<span><br></span>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :value =>"t@t" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, :value =>"testtest" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>