<% reviews.each do |review| %>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
            <div class="kutikomi" style="margin-top: 10px;">
                <p>
                    <div class="row">
                        <div class="col-xs-3">
                            <%= attachment_image_tag(review, :image, :fill, 200, 180, style: "border-radius: 20px; margin: 10px;") %>
                        </div>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4>評価：<%= review.rate %>点 | <%= review.title %></h4>
                                    <!--星評価-->
                                    <div id="star-rate-<%= review.id %>"></div>
                                    <script>
                                    $('#star-rate-<%= review.id %>').raty({
                                        size: 36,
                                        starOff:  '<%= asset_path('star-off.png') %>',
                                        starOn : '<%= asset_path('star-on.png') %>',
                                        starHalf: '<%= asset_path('star-half.png') %>',
                                        half: true,
                                        readOnly: true,
                                        score: <%= review.rate %>,
                                    });
                                    </script>  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4><%= review.comment %></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <% if current_user == review.user %>
                                        <%= link_to "Destroy", users_onsen_spot_review_path(review), method: :delete ,class:"btn btn-danger btn-sm" %>
                                    <% end %>
                                    <%= review.user.full_name %>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
 <% end %>