<div class="container">
  <div class="row">
    <h2>温泉地一覧(全<%= @onsen_spots.count %>件)</h2>
<% @onsen_spots.each do |onsen_spot| %>
<div class="col-xs-3">
  <%= attachment_image_tag(@onsen_spot, :image, :fill, 500, 280, fallback: "mypage.jpg", style: "border-radius: 20px;", size: "500x280") %>
</div>
<div class="col-xs-9">
	<table class="customer_info mb3">
		<thead>
			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>名前</td>
				<td>(姓) <%=  %></td>
				<td>(名) <%=  %></td>
			</tr>
			<tr>
				<td>フリガナ</td>
				<td>(セイ) <%=  %></td>
				<td>(メイ) <%=  %></td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td colspan="2"><%= %></td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td colspan="2"><%= %></td>
			</tr>
			<tr>
				<td>住所</td>
				<td colspan="2"><%= %></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td colspan="2"><%= %></td>
			</tr>
		</tbody>
	</table>
</div>
<% end %>
  </div>
</div>
