<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>温泉地新規投稿</h2>
            <%= form_for(@onsen_spot, url: users_create_path) do |f| %>
                <div class="col-xs-3">
                    <div class="item-new-form">
                        <%= f.attachment_field :image %>
                    </div>
                </div>
                <div class="col-xs-9">
                    <table class="new-form-table">
                      <tbody>
                        <tr>
                          <th>星評価</th>
                          <td></td>
                        </tr>
                        <tr>
                          <th>名前</th>
                          <td><%= f.text_field :name, class: "form-control" %></td>
                        </tr>
                        <tr>
                          <th>泉質</th>
                          <td>
                          <%= collection_check_boxes(:onsen_spot, :sensitsu_ids, Sensitsu.all , :id, :name) do |b| %>
                            <%= b.label {b.check_box + b.text} %>
                          <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>効能</th>
                          <td>
                          <%= collection_check_boxes(:onsen_spot, :kounou_ids, Kounou.all , :id, :name) do |b| %>
                            <%= b.label {b.check_box + b.text} %>
                          <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>お湯タイプ</th>
                          <td>
                          <%= collection_check_boxes(:onsen_spot, :oyutype_ids, Oyutype.all , :id, :name) do |b| %>
                            <%= b.label {b.check_box + b.text} %>
                          <% end %>
                          </td>
                        </tr>
                        <tr>
                          <th>説明</th>
                          <td><%= f.text_area :introduction %></td>
                        </tr>
                        <tr>
                          <th>住所</th>
                          <td>〒<%= f.text_field :postal_code %><%= f.text_field :address %></td>
                        </tr>
                        <tr>
                          <th>電話番号</th>
                          <td><%= f.text_field :phone_number %></td>
                        </tr>
                        <tr>
                          <th>営業時間</th>
                          <td><%= f.text_field :business_hour %></td>
                        </tr>
                        <tr>
                          <th>利用料金</th>
                          <td>¥<%= f.text_field :fee %></td>
                        </tr>
                        <tr>
                          <th>駐車場</th>
                          <td><%= f.text_field :parking %></td>
                        </tr>
                      </tbody>
                    </table>
                     <div class="text-right">
                        <%= f.submit "温泉地を登録する" ,class: "btn btn-primary text-right" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>