<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <table class="onsen_spot_show">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr class="onsen_spot_name">
                        <td><strong><%= @onsen_spot.name %></strong></td>
                    </tr>
                    <tr class="onsen_spot_address">
                        <td>〒<%= @onsen_spot.postal_code %><%= @onsen_spot.address %></td>
                    </tr>
                    <tr>
                        <td><%= %></td>
                    </tr>
                    <tr class="onsen_spot_introduction">
                        <td><%= @onsen_spot.introduction %></td>
                    </tr>
                    <tr class="onsen_spot_sensitsu">
                        <td><%= @onsen_spot.sensitsu.name %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>