<div class="container">
<%= render 'layouts/errors', obj: @onsen_spot %>

    <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
            <table class="onsen_spot_show">
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                    <tr class="onsen_spot_name">
                        <td><strong><%= @onsen_spot.name %></strong></td>
                    </tr>
                    <tr class="onsen_spot_address">
                        <td>〒<%= @onsen_spot.postal_code %>　<%= @onsen_spot.address %></td>
                    </tr>
                    <tr>
                        <td><%= %></td>
                    </tr>
                    <tr class="onsen_spot_introduction">
                        <td><%= @onsen_spot.introduction %></td>
                    </tr>
                    <tr class="onsen_spot_sensitsu">
                        <td>
                        <% @onsen_spot.sensitsus.each do |sensitsu| %>
                        <%= sensitsu.name %>
                        <% end %>
                        <% @onsen_spot.kounous.each do |kounou| %>
                        <%= kounou.name %>
                        <% end %>
                        <% @onsen_spot.oyutypes.each do |oyutype| %>
                        <%= oyutype.name %>
                        <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- modal -->
    <%= render 'modal', onsen_spot: @onsen_spot, review: @review %>
    
    <!-- コメント一覧 -->
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">
        <table class="show-tb">
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <%= review.user.full_name %>
              </td>
              <td>
                <%= review.comment %>
              </td>
              <td>
                <% if current_user.id == review.user.id %>
                  <%= link_to "Destroy", users_onsen_spot_review_path(review), method: :delete ,class:"btn btn-danger btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>