<div class="container">
<%= render 'layouts/errors', obj: @onsen_spot %>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="onsen_spot_show">
                <tbody>
                    <tr class="onsen_spot_name">
                        <td><strong><%= @onsen_spot.name %></strong></td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                星評価(口コミ<%= @onsen_spot.reviews.count %>件)
                            <!--星評価-->
                                <div id="star-rate-<%= @onsen_spot.id %>" data-turbolinks-track="reload"></div>
                                
                                <script>
                                $('#star-rate-<%= @onsen_spot.id %>').raty({
                                    size: 36,
                                    starOff:  '<%= asset_path('star-off.png') %>',
                                    starOn : '<%= asset_path('star-on.png') %>',
                                    starHalf: '<%= asset_path('star-half.png') %>',
                                    half: true,
                                    readOnly: true,
                                    score: <%= @onsen_spot.reviews.average(:rate).to_f.round(1) %>,
                                });
                                </script>
                                
                            </strong>
                        </td>
                    </tr>
                    <tr class="onsen_spot_address">
                        <td>〒<%= @onsen_spot.postal_code %>　<%= @onsen_spot.address %></td>
                    </tr>
                    <tr>
                        <td><%= %></td>
                    </tr>
                    <tr class="onsen_spot_introduction">
                        <td><%= @onsen_spot.introduction %></td>
                    </tr>
                    <tr class="onsen_spot_sensitsu">
                        <td>
                        <% @onsen_spot.sensitsus.each do |sensitsu| %>
                        <ul class="box_maps">
                        <li><%= sensitsu.name %></li>
                        <% end %>
                        <% @onsen_spot.kounous.each do |kounou| %>
                        <li><%= kounou.name %></li>
                        <% end %>
                        <% @onsen_spot.oyutypes.each do |oyutype| %>
                        <li><%= oyutype.name %></li>
                        </ul>
                        <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

   
    <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
            <%= attachment_image_tag(@onsen_spot, :image, :fill, 650, 350, fallback: "onsen_spot_default.jpg", style: "border-radius: 20px; margin: 0 10px 10px 0;", size: "650x350") %>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7 col-xs-offset-1">
            <%# 行きたい %>
            <div id="likes_buttons_<%= @onsen_spot.id %>">
                <%= render partial: 'users/likes/like', locals: { onsen_spot: @onsen_spot} %>
            </div>
            <%# 行った %>
            <div id="wents_buttons_<%= @onsen_spot.id %>">
                <%= render partial: 'users/wents/went', locals: { onsen_spot: @onsen_spot} %>
            </div>
            <%# modal 口コミ投稿ボタン %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="padding: 11px 16px; margin-left: 10px;">
                口コミ投稿する
            </button> 
            <%# modal 口コミ投稿画面 %>
            <%= render 'modal', onsen_spot: @onsen_spot, review: @review %>
        </div>
    </div>
  
    
    <%# 口コミ一覧 %>
    <%= render 'users/reviews/index', reviews: @reviews %>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
                
            <h2><strong><%= @onsen_spot.name %>　基本情報</strong></h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="active">住所</th>
                        <td>〒<%= @onsen_spot.postal_code %>　<%= @onsen_spot.prefecture_name %>　<%= @onsen_spot.address_city %>　<%= @onsen_spot.address_street %>　<%= @onsen_spot.address_building %></td>
                    </tr>
                    <tr>
                        <th class="active">電話番号</th>
                        <td><%= @onsen_spot.phone_number %></td>
                    </tr>
                    <tr>
                        <th class="active">地図</th>
                        <td><div id="maps" style="height: 300px; width: 500px;"></div></td>
                    </tr>
                    <tr>
                        <th class="active">金額</th>
                        <td>¥　<%= @onsen_spot.fee %></td>
                    </tr>
                    <tr>
                        <th class="active">営業時間</th>
                        <td><%= @onsen_spot.business_hour %></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
    function initMap() {
        // latitude,longitudeから位置を特定
        var test ={lat: <%= @onsen_spot.latitude %>, lng: <%= @onsen_spot.longitude %>};
        var map = new google.maps.Map(document.getElementById('maps'), {
                zoom: 15, 
                center: test
                });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @onsen_spot.address %>';
        var infowindow = new google.maps.InfoWindow({
        content: contentString
        });

        // Map上の指定した位置にピンを挿して表示する 
        var marker = new google.maps.Marker({
                    position:test,
                    map: map,
                    title: contentString
                    });

        marker.addListener('click', function() {
        infowindow.open(map, marker);
        });
    }
    </script>

    <script async defer
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    

</div>