<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <span class="logo">銭湯Log</span>
            </div>
            <div class="col-xs-4">
                <ul class="menu">
                <span>Menu</span>
                    <li><%= link_to "トップページ", root_path %></li>
                    <li><%= link_to "サイト説明", about_path %></li>
                    <li><%= link_to "温泉地を登録", new_users_onsen_spot_path %></li>
                    <li><%= link_to "利用規約", root_path %></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul class="address">
                <span>Contact</span>
                    <li><%= link_to "Twitter", root_path %></li>
                    <li><%= link_to "Instagram", root_path %></li>
                    <li><%= link_to "Github", "https://github.com/Ryoma1115/SentoLog" %></li>
                    <li><%= link_to "お問い合わせ", root_path %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>