<div class="container"> 
  <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to 'SentoLog', admins_top_path, class: "nav navbar-nav navbar-left" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= render 'layouts/modal', sensitsu: Sensitsu.all %></li>
            <li><%= link_to '泉質', '' %></li>
            <li><%= link_to '条件', '' %></li>
            <li><%= link_to '都道府県', '' %></li>
            <li><%= link_to '会員一覧', admins_users_path %></li>
            <li><%= link_to '温泉地を登録する', new_users_onsen_spot_path %></li>
            <li><%= link_to '温泉一覧', admins_onsen_spots_path %></li>
            <li><%= link_to '泉質一覧', admins_sensitsus_path %></li>
            <li><%= link_to '効能一覧', admins_kounous_path %></li>
            <li><%= link_to 'お湯タイプ一覧', admins_oyutypes_path %></li>
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul> 
        </div>
      </header>
  <% elsif user_signed_in? %>
      <header class="user_header">
        <div class="header-content">
        <%= link_to 'SentoLog', root_path, class: "nav navbar-nav navbar-left" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= render 'layouts/modal', sensitsu: Sensitsu.all %></li>
            <li><%= link_to '泉質', '' %></li>
            <li><%= link_to '条件', '' %></li>
            <li><%= link_to '都道府県', '' %></li>
            <li><%= link_to '温泉地を登録する', new_users_onsen_spot_path %></li>
            <li><%= link_to '温泉一覧', users_onsen_spots_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'マイページ', users_show_path %></li>
            <li><%= link_to 'About', about_path %></li>
          </ul> 
        </div>
      </header>
  <% else %>
      <header>
        <div class="header-content">
        <%= link_to 'SentoLog', root_path, class: "nav navbar-nav navbar-left" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= render 'layouts/modal', sensitsu: Sensitsu.all %></li>
            <li><%= link_to '泉質', '' %></li>
            <li><%= link_to '条件', '' %></li>
            <li><%= link_to '都道府県', '' %></li>
            <li><%= link_to '温泉地を登録する', new_users_onsen_spot_path %></li>
            <li><%= link_to '温泉一覧', users_onsen_spots_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to 'About', about_path %></li>
          </ul> 
        </div>
      </header>
  <% end %>
</div>