<!DOCTYPE html>
<html>
  <head>
    <title>SentoLog</title>
    <%= include_gon %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="wrapper">
    <!-- ヘッダー -->
    <%= render "layouts/header" %>
    
    <!-- Main部分 -->
    <%= flash[:notice] %>
      <%= yield %>
      
    <!-- Footer -->
    <%= render "layouts/footer" %>
  </body>
</html>
